<h1>Lista de Tareas Pendientes</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Tarea</th>
        <th scope="col">ver</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">99946578-3358-11eb-8447-50eb71d7d6fb</th>
        <td>Approve or reject request</td>
        <td><button type="submit" class="btn btn-primary">Ver</button></td>
    </tr>
      <tr>
        <th scope="row">9DD946578-3358-11eb-8447-50eb71d7d6fb</th>
        <td>Approve or reject request</td>
        <td><button type="submit" class="btn btn-primary">Ver</button></td>
      </tr>
      <tr>
        <th scope="row">FE#46578-3358-11eb-8447-50eb71d7d6fb</th>
        <td>Approve or reject request</td>
        <td><button type="submit" class="btn btn-primary">Ver</button></td>
      </tr>
    </tbody>
  </table>
